@font-face {
  font-family: Play-Bold;
  src: url(./fonts/Play-Bold.woff2) format('woff2');
}

@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-VariableFont_wdth\,wght.woff2) format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

:root {
  --black-theme: #111;
  --white-theme: aliceblue;
  --blue-theme: mediumblue;
  --light-blue-theme: rgb(177, 210, 255);
  --light-gray-theme: #bbb;
  --paragraph-theme: #444;
  --shadow-theme: rgba(5, 5, 11, 0.2);
  --dummy-theme: #999;
}

body {
  background-color: var(--black-theme);
}

h1 {
  margin-top: -5.4rem;
  font-size: 3.6rem;
  color: var(--white-theme);
}

h2 {
  color: var(--black-theme);
  font-size: 2.8rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.wrapper {
  max-width: 48rem;
  height: 100vh;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(-20deg, var(--white-theme) calc(2 / 3 * 100%), var(--light-blue-theme) 0);
  padding: 2rem;
}

.header-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 4rem;
}

.header-img-container img {
  width: 100%;
  height: auto;
}

.header h2 {
  margin-bottom: 0.8rem;
}

.header p {
  font-size: 2rem;
  margin-bottom: 1.6rem;
  color: var(--black-theme);
}

.icon-container {
  display: flex;
  gap: 0.8rem;
}

.icon-container img {
  width: 2.8rem;
  height: auto;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
  background-color: var(--light-gray-theme);
}

.main h2 {
  margin-bottom: 2rem;
}

.main ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
  gap: 3.2rem;
}

.main li {
  background-color: var(--white-theme);
  max-width: 40rem;
  padding: 1.6rem 0.8rem;
  border-radius: 0.8rem;
  box-shadow: 0.8rem 0.8rem 0.8rem 0 var(--shadow-theme);
}

.dummy {
  height: 20rem;
  margin: 1rem 2rem 2rem;
  background-color: var(--dummy-theme);
}
.dummy:hover {
  opacity: 0.7;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
  padding: 0 2rem;
}

.main h3 {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--blue-theme);
}

.title-row img {
  width: 2.4rem;
  height: auto;
}

.main p {
  padding: 0 2rem;
  font-size: 1.8rem;
  line-height: 1.4;
  color: var(--paragraph-theme);
}

.main span {
  font-size: 1.8rem;
  font-style: italic;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  background-color: var(--light-blue-theme);
}

.email-address-row {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.email-address-row img {
  width: 2.8rem;
}

.email-address-row a {
  font-size: 2rem;
  color: var(--black-theme);
}

.email-address-row a:hover {
  text-decoration: underline;
}

.footer h2,
.footer p {
  color: var(--black-theme);
}

.footer h2 {
  margin: 1.2rem 0 2rem;
}

.footer p {
  padding: 0 2rem;
  font-size: 1.8rem;
}

.footer .icon-container {
  margin: 2rem 0;
}

.footer-img {
  width: 100%;
  height: auto;
}
