@font-face {
  font-family: Play-Bold;
  src: url(./fonts/Play-Bold.woff2) format('woff2');
}

@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-VariableFont_wdth\,wght.woff2) format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: Play-Bold, Roboto, Arial, Helvetica, sans-serif;
}

:root {
  --black-theme: #222;
  --white-theme: rgb(244, 244, 255);
  --blue-theme: rgb(40, 40, 255);
  --light-purple-theme: rgb(177, 177, 255);
  --super-light-purple-theme: rgb(210, 210, 255);
  --light-gray-theme: #bbb;
  --paragraph-theme: #444;
  --shadow-theme: rgba(5, 5, 11, 0.2);
  --dummy-theme: #999;
}

h2 {
  font-size: 2.8rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.wrapper {
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(-10deg, var(--super-light-purple-theme) calc(2 / 3 * 100%), var(--light-purple-theme) 0);
  padding: 2.8rem 2.8rem 2rem;
}

.header-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3.2rem;
}

.header-img-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 20% 0;
  box-shadow: 0.8rem 0.8rem 0.8rem var(--shadow-theme);
}

.my-name {
  translate: 0 -1.6rem;
  margin-top: -3.2rem;
  font-size: 3.2rem;
  color: var(--white-theme);
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-work-row {
  display: flex;
  align-items: flex-start;
  gap: 0.4rem;
}

.my-work-row img {
  margin-top: 0.5rem;
  width: 2.4rem;
  filter: invert(11%) sepia(0%) saturate(0%) hue-rotate(267deg) brightness(99%) contrast(94%);
}

.header h2 {
  margin-bottom: 0.8rem;
  color: var(--paragraph-theme);
}

.header p {
  font-size: 1.6rem;
  line-height: 1.4;
  margin-bottom: 1.6rem;
  color: var(--paragraph-theme);
}

.icon-container {
  display: flex;
  gap: 0.8rem;
}

.icon-container img {
  width: 2.4rem;
  height: auto;
  filter: invert(11%) sepia(0%) saturate(0%) hue-rotate(267deg) brightness(99%) contrast(94%);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.8rem 2.4rem;
  background-color: var(--super-light-purple-theme);
}

.main h2 {
  margin-bottom: 3.6rem;
  color: var(--black-theme);
}

.main ul {
  display: grid;
  gap: 3.2rem;
}

.main li {
  max-width: 30rem;
  padding: 1.2rem 2rem;
  border-radius: 0.8rem;
  box-shadow: 0.8rem 0.8rem 0.8rem 0 var(--shadow-theme);
  background-color: var(--white-theme);
  transition: transform 0.15s;
}

.main li:hover {
  transform: translate(0, -2rem);
}

.dummy {
  height: 16rem;
  margin: 1rem 0 1.6rem;
  background-color: var(--dummy-theme);
  transition: opacity 0.15s;
}

.dummy:hover {
  opacity: 0.8;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}

.main h3 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--blue-theme);
}

.title-row img {
  width: 2rem;
  height: auto;
}

.main p {
  height: 10rem;
  font-size: 1.6rem;
  line-height: 1.4;
  color: var(--paragraph-theme);
}

.main span {
  font-size: 1.7rem;
  font-style: italic;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--light-purple-theme);
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.email-address-row {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.email-address-row img {
  width: 2rem;
  filter: invert(11%) sepia(0%) saturate(0%) hue-rotate(267deg) brightness(99%) contrast(94%);
}

.email-address-row a {
  font-size: 1.8rem;
  color: var(--black-theme);
}

.email-address-row a:hover {
  text-decoration: underline;
}

.footer h2,
.footer p {
  color: var(--black-theme);
}

.footer p {
  font-size: 1.6rem;
}

.footer-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 100% 0%;
}

@media screen and (min-width: 48rem) {
  .header {
    flex-direction: row;
    justify-content: center;
    background-image: linear-gradient(-8deg, var(--super-light-purple-theme) 50%, var(--light-purple-theme) 0);
    padding: 4rem;
  }

  .header-img-container {
    width: 30rem;
    margin: 0 -1.2rem 4.8rem 0;
    z-index: 1;
  }

  .header-img-container img {
    width: 100%;
    aspect-ratio: 7 / 6;
  }

  .header-container {
    justify-content: center;
    width: 30rem;
    aspect-ratio: 7 / 6;
    margin-left: -1.2rem;
    padding: 2rem 1.2rem 1.2rem 4rem;
    border-radius: 0.4rem;
    background-color: var(--white-theme);
    box-shadow: 0.8rem 0.8rem 0.8rem var(--shadow-theme);
  }

  .header-container h2 {
    margin-bottom: 1.2rem;
  }

  .header p {
    margin-bottom: 2rem;
  }
  
  .main ul {
    grid-template-columns: 1fr 1fr;
    gap: 4.8rem 3.2rem;
  }

  .main li {
    width: 28rem;
    padding: 0.8rem 2rem;
  }

  .footer {
    flex-direction: row;
    justify-content: center;
  }

  .footer-container {
    width: 36rem;
    margin-right: -1.6rem;
    padding: 0 2rem;
  }

  .footer-img-container {
    width: 36rem;
    margin-left: -1.6rem;
    padding: 4rem 2rem;
  }

  .footer-img {
    width: 100%;
    aspect-ratio: 6 / 5;
  }
}

@media screen and (min-width: 75rem) {
  * {
    font-size: 12px;
  }

  .header-img-container {
    width: 50rem;
    margin: 0 -1.2rem 0 0;
  }

  .header-img-container img {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    box-shadow: 0.8rem 0.8rem 0.8rem var(--shadow-theme);
  }

  .header-container {
    justify-content: center;
    width: 40rem;
    aspect-ratio: 3 / 2;
    margin-left: -1.2rem;
    padding: 2rem 1.2rem 1.2rem 4rem;
  }

  .main ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
